<% include ../partials/header %>

<div class="row justify-content-center">
    <div style="col-md-12 text-center">
        <form action="/profiles/<%= user.username %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <h1 class="h3 mb-3 font-weight-normal">Edit Your Profile</h1>
            <hr>
            <div class="form-group">
                <label>Username</label>
                <h5><%=user.username%></h5>
            </div>
            <div class="form-group custom-file">
                <input type="file" class="custom-file-input" id="avatar" name="avatar" accept="image/*">
                <label class="custom-file-label" for="avatar">Change your profile picture!</label>
            </div>
            <br>
            <br>
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input class="form-control" type="text" name="user[firstName]" value="<%=user.firstName%>" required>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input class="form-control" type="text" name="user[lastName]" value="<%=user.lastName%>" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" type="email" name="user[email]" value="<%=user.email%>" required>
            </div>
            <div class="form-group">
                <label for="bio">Bio</label>
                <input class="form-control" type="text" name="user[bio]" value="<%=user.bio%>" required>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Sign Up!</button>
            </div>
        </form>
        <div class="form-signin">
            <a href="/treks">Go Back</a>
        </div>
    </div>
</div>

<!-- Need to load before the listener or else it won't show-->
<script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
</script>

<script>
    // adding script for the file browser
    $('#avatar').on('change',function(){
            //get the file name
            var fileName = $(this).val().split('\\').pop();
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(fileName);
        })
</script>

<% include ../partials/footer %>