<% include ../partials/header %>

    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <h1>Edit <%=trek.name%></h1>
            <hr>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <form action="/treks/<%= trek._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <input class="form-control" type="text" name="trek[name]" value="<%= trek.name %>">
                </div>
                <div class="form-group custom-file">
                  <input type="file" class="custom-file-input" id="image" name="image" accept="image/*">
                  <label class="custom-file-label" for="image">Show us a picture!</label>
                </div>
                <br>
                <br>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input class="form-control" type="text" name="location" id="location" value="<%= trek.location %>">
                </div>
                <div class="form-group" id="ratediv">
                    <label for="rating">Rating</label>
                    <div class="rating">
                        <input type="radio" name="trek[rating]" id="star5" value="5" <% if(trek.rating==5){ %> checked="checked" <% } %>><label for="star5">
                        </label>
                        <input type="radio" name="trek[rating]" id="star4" value="4" <% if(trek.rating==4){ %> checked="checked" <% } %>><label for="star4">
                        </label>
                        <input type="radio" name="trek[rating]" id="star3" value="3" <% if(trek.rating==3){ %> checked="checked" <% } %>><label for="star3">
                        </label>
                        <input type="radio" name="trek[rating]" id="star2" value="2" <% if(trek.rating==2){ %> checked="checked" <% } %>><label for="star2">
                        </label>
                        <input type="radio" name="trek[rating]" id="star1" value="1" <% if(trek.rating==1){ %> checked="checked" <% } %>><label for="star1">
                        </label>
                    </div>
                </div>
                <div class="form-group textbox">
                    <label for="description">Experience</label>
                    <textarea rows="4" class="form-control" type="text" name="trek[description]" required><%= trek.description %></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-success btn-block">Submit!</button>
                </div>
            </form>
            <a href="/treks">Go back</a>
        </div>
    </div>

    <%  for (var i = 1; i <= 5; i++){ %>
         <% if (trek.rating === i){ %>
            <%    document.getElementById('star'+i).checked=true; %>
         <%   } %>
    <%    }; %>
    
        <!-- Need to load before the script or else it won't show-->
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    
    <script>
        $('#image').on('change',function(){
            //get the file name
            var fileName = $(this).val().split('\\').pop();
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(fileName);
        })
    </script>

<% include ../partials/footer %>