<% include ../partials/header %>

    <header id="main" class="jumbotron main-head">
        <div class = "container">
            <h1 id="main-text">Welcome To TrekSpek</h1>
            <h5 id="slogan-text">
                Adventure Awaits
            <h5>
            <br>
            <br>
            <p>
                <a id="add" href="/treks/new" class="btn btn-success btn-lg">Add A New Trek</a>
            </p>
        </div>
    </header>
    
    <div class="row text-left" >
        <div class="col-md-12">
            <p>
                <form action="/treks" method="GET" class="form-inline">
                    <div>
                        <input id="search" type="text" name="search" placeholder="Find treks by name, location, author..." class="form-control">
                        <input type="submit" value="Search" class="btn btn-outline-success">
                    </div>
                </form>
            </p>
        </div>
    </div>
    
    
    <div class="py-2 pb-md-4 mx-auto text-left">
        <h3><%=display%><h3>
    </div>

    
    <div class="row text-center">
        <% treks.forEach(function(trek){ %>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="<%= trek.image %>" alt="<%= trek.name %>">
                    <div class="card-body">
                        <h5 class="card-title"><%= trek.name %></h5>
                        <a href="/treks/<%= trek._id %>" class="btn btn-success">More Info</a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
    
    

<% include ../partials/footer %>