<% include ../partials/header %>
    
    <div class="row">
        <div class="col-md-3">
            <div id="map"></div>
        </div>
        <div class="col-md-9">
            <div class="card mb-3">
                <img class="card-img-top" src="<%= trek.image %>" alt="<%=trek.name%>">
                <div class="card-body">
                    <div class="float-right ratings-show">
                        <% for (var i = 0; i < trek.rating; i++) { %>
                            <span class="star-full">
                              <i class="fas fa-star"></i>
                            </span>
                    <%  }   %>
                        <% for (var i = 0; i < (5 - trek.rating); i++) { %>
                            <span class="star-empty">
                              <i class="far fa-star"></i>
                            </span>
                    <%  }   %>
                    </div>
                    <h5 class="card-title"><a><%= trek.name %></a></h5>
                    <p clas="card-text"><%= trek.description %> </p>
                    <hr>
                    <p>
                        <strong> 
                            <a href="/profiles/<%=trek.author.username%>"> 
                                <span class="dot" style="background-image:url('<%=user.avatar%>')"></span> <%= trek.author.username %> 
                            </a>
                        </strong> 
                        <em>, <%= moment(trek.createdAt).fromNow() %> </em>
                    </p>
                    <% if(currentUser && trek.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                        <a class="btn btn-warning" href="/treks/<%= trek._id %>/edit">Edit</a>
                        <form class="delete-form" action="/treks/<%=trek._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <br>

            <div class="well">
                <!-- Form To Enter Your Comment In -->
                <form action = "/treks/<%= trek._id %>/comments" method="POST">
                    <% if(currentUser){%>
                    <div class="row">
                        
                        <div class="col-lg-9 col-md-9">
                            <div class="form-group">
                              <input id="trek-comment-input" class="form-control" type="text" name = "comment[text]" placeholder="Enter Your Comment Here">
                            </div> 
                        </div>  
                            
                        <div class="col-lg-3 col-md-3">
                            <div class="text-right">
                                <div class="form-group">
                                    <button id="trek-comment-submit" class="btn btn-large btn-success btn-block">Add Comment</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%}%>
                </form> 
                <div class= "row">
                    <% trek.comments.forEach(function(comment){ %>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="float-left">     
                                    <p>
                                        <a class="card-title" href="/profiles/<%=comment.author.username%>">
                                        <span class="dot" style="background-image:url('<%=comment.author.avatar%>')"></span> <%= comment.author.username %>        
                                            <%if (comment.author.isAdmin === true){%>
                                                    <span style="font-size: 1em; color: lightgreen;">
                                                    <i class="fas fa-check"></i>
                                                </span>
                                            <% } %>
                                        </a>  
                                    </p>
                                    <p>
                                        <%= comment.text %>
                                    </p>
                                </div>
                                <div class="float-right pt-1">
                                    <p>
                                        <em><%= moment(comment.createdAt).fromNow() %></em>
                                    </p>
                                    <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){%>
                                        <div class="float-right">
                                            <a  
                                               class="btn btn-sm btn-warning" 
                                               href="/treks/<%=trek._id%>/comments/<%=comment._id%>/edit">
                                               Edit
                                            </a>
                                            <form class="delete-form" action="/treks/<%=trek._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
                                                <button class="btn btn-sm btn-danger"> Delete </button>
                                            </form>  
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>   
            </div>
        </div>
    </div>
    
    <script>
          function initMap() {
            var lat = <%= trek.lat %>;
            var lng = <%= trek.lng %>;
            var center = {lat: lat, lng: lng };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
                center: center,
                scrollwheel: false
            });
            var contentString = `
              <strong><%= trek.name %><br />
              <%= trek.location %></strong>
              <p><%= trek.description %></p>
            `
            var infowindow = new google.maps.InfoWindow({
              content: contentString
            });
            var marker = new google.maps.Marker({
                position: center,
                map: map
            });
            marker.addListener('click', function() {
              infowindow.open(map, marker);
            });
          }
    </script>
    
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4E8Rdmen6TtUFIvUqx4YEyJ3mdxnNXLk&callback=initMap"></script>

<% include ../partials/footer %>